@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@600;700&display=swap');
body{
    background-image: url(../imagens/praia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #d6825b;
    font-family: 'Raleway', sans-serif;
    transition: background-image 5s 1s;
    /* para animação transition propriedade tempo delay*/
}
.container{
    display: flex;
    flex-direction: column;
}
.secao-foto h2{
    width: fit-content;
    font-size: 1.5em;
    margin: 20px auto;
    letter-spacing: 3px;
    font-family: 'Finlandica', sans-serif;
    color: #007FBB;
}
.secao-foto h2 span:nth-child(1){ color: red; }
.secao-foto h2 span:nth-child(2){ color: #9872A2;}
.secao-foto h2 span:nth-child(3){ color: #CA7D00;}
.secao-foto h2 span:nth-child(5){ color: #000;}
.secao-foto h2 span:nth-child(6){ color: #5CF100;}
.secao-foto h2 span:nth-child(8){ color: #000;}
.secao-foto h2 span:nth-child(10){ color: #CA7D00;}

.secao-foto{
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
    /* para animação */
    transform: translateX(-100%);
    animation: comeinleft 1s ease forwards;
}
@keyframes comeinleft{
to{ transform: translateX(0);
}}
/* para animação */

.foto-principal{
    border-radius: 50%;
    width: 150px;
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tecnologias img{
    width: 5rem;
}
.github-logo, .linkedin-logo{
    width: 5rem;
}
.habilidades-tecnologias{
    display: flex;
    margin: auto;
    margin-top: 5rem;
}
/* para animação */
/* [data-anime="down"]{
    transform: translate3d(0, -100px, 0);
} */
[data-anime="down"]{
    opacity: 0;
    transition: 1s;
    transform: translate3d(0, 200px, 0)
}
[data-anime="right"]{
    opacity: 0;
    transition: 1s;
    transform: translate3d(-100%, 0, 0)
}
[data-anime="left"]{
    opacity: 0;
    transition: 1s;
    transform: translate3d(100px, 0, 0)
}
/* zerando o 3d */
[data-anime].animate{ 
    opacity:1;
    transform: translate3d(0,0,0);
}


.habilidades{
    color: #007FBB;
    margin-right: 10px;
    width: 250px;
    text-align: center;
}
.habilidades h2{
    padding: 15px;
}
.habilidades ul li{
    margin-top: 10px;
    border-bottom: 1px solid #000;
    font-weight: 700;
    padding-bottom: 5px;
}
.tecnologias{
    width: 250px;
    padding: 15px;
    text-align: center;
}
.tecnologias h2{
    color: #007FBB;
    margin-bottom: 15px;
}
.idiomas{
    text-align: center;
    color: #007FBB;
    width: fit-content;
    margin: 20px auto;
}
.idiomas p{
    font-weight: 700;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.pontos-a-melhorar{
    text-align: center;
    color: #007FBB;
    width: fit-content;
    margin: 20px auto;
}
.pontos-a-melhorar p{
    font-weight: 700;
    padding-bottom: 5px;
}
.pontos-a-melhorar p:nth-child(3){
    border-bottom: 1px solid black;
}
.linkedin-e-github{
    display: flex;
    margin: 30px auto;
}
.linkedin{
    text-align: center;
    margin-right: 30px;
}.linkedin a{color: black;}
.github{
    text-align: center;
    margin-left: 30px;
}.github a{color: black;}

.portifolio{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
}
.titulo-portifolio{
    margin: 30px auto 0 auto;
    font-size: 2rem;
    letter-spacing: 30px;
    color: #007FBB;
    border-bottom: 1px solid #000;
}
.item img{
    width: 280px;
    margin: 10px;
    border-radius: 15px;
}
.rodape{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: #074a69;
}.rodape span{
    font-weight: 700;
    color: #FFF;
}
.rodape small{
    display: inline;
}


@media (max-width:414px){
    body{
        width: 375px;
        background-size: 375px 100%;
        background-image: url(../imagens/praia-mobile.png);
    }
    .secao-foto h2{
        font-size: 14px;
    }
    .habilidades-tecnologias{
        margin-top: 200px;
        flex-direction: column;
    }
    [data-anime="right"]{
        opacity: 0;
        transition: 1s;
        transform: translate3d(0, 200, 0)
    }
    .tecnologias{
        margin-top: 2rem;
    }
    .titulo-portifolio{
        letter-spacing: 10px;
    }
}